body{
    .meie-script-regular {
        font-family: "Meie Script", cursive;
        font-weight: 400;
        font-style: normal;
      }
    margin: 0px;
}

.flex-container { /*container for Expo paragraph*/
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}

.article{
    width: 45%;
}

nav{
    text-align: center;
    padding-top: 15px;
    background-color: #a13f54;
    padding-bottom: 15px;
}
h1{ /*"Strawbie's header in center of page*/
    text-align: center;
    font-family: "Meie Script",cursive;
    font-size: 60px;
    color: #a13f54;
    font-weight: 400;
    line-height: normal;
}
.grid-container { /*Container for images on index page*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 100vh; 
    padding: 20px;
}

.grid-container img {/*Container for images on index page with styling*/
    width: 100%; 
    height: auto; 
    display: block; 
    margin: auto; 
}

a:hover{
    background-color: #a13f54;
}

#header-images{
    align-items: center;
    justify-content: center;
}