body{
    .meie-script-regular {
        font-family: "Meie Script", cursive;
        font-weight: 400;
        font-style: normal;
      }
    margin: 0px;
}

.flex-container { /*container for Expo paragraph*/
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}

.article{  /*for the paragraphs width side by side*/
    width: 45%;
}

nav {
    padding: 15px; 
    background-color: #a13f54; 
    display: flex; 
    gap: 20px;
    justify-content: center;
    
}

nav a { /*decoration for nav anchor tags*/
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px; 
    transition: color 0.3s; 
}
nav a:hover { 
    color: #ddd; 
    text-decoration: none; 
}


h1{ /*"Strawbie's header in center of page*/
    text-align: center;
    font-family: "Meie Script",cursive;
    font-size: 60px;
    color: #a13f54;
    font-weight: 400;
    line-height: normal;
}

h3{
    text-align: center;
    color: #a13f54;
    padding-top: -10px;
    padding-bottom: 30px;
}

.grid-container { /*Container for images on index page*/
    display: flex;
    transition: color 0.3s; 
   /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    justify-content: space-around; 
    align-items: center; 
    /*gap: 20px;*/
    margin-top: 20px;
    
}

.grid-container-2{  /*Container for images on index page*/
    display: grid;
    justify-content: center; 
    align-items: center; 
    padding-bottom: 30px;
    padding-top: -100px;
}

.grid-container img {/*Container for images on index page with styling*/
    width: 100%; 
    height: auto; 
    display: block; 
    margin: auto; 
}

a:hover{
    opacity: 70%;
}

#header-images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-label{
    background-color: #a13f54;
    width: 384px;
    height: 119px;

}

p{
    margin: 0px;
}

#Expo{
    display: flex;
    flex-direction: column;

}